@charset "utf-8";
/* CSS Document */

body {
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    line-height:22px;
    text-align: center;
    color:#423C42;
}

a:link, a:visited{
	color:#d97021;
	text-decoration:none;
}

a:active {
	color:#d97021;
	text-decoration:none;
}

a:hover {
    color:#D44421;
    text-decoration:underline;
}


.orange {
    color:#D44421;
}

#main_content h1, #main_content h2, #main_content h3 {
	line-height:120%;
	margin:0px 0px 12px 0px;
	font-size:20px;
	}

#main_content h1 {
    font-size:32px;
    font-weight:bold;
    margin-top: 0px;
    line-height: 42px;
}
#main_content h2 {
	margin:0px 0px 15px 0px;
	
}

#main_content h3 {
	margin:0px 0px 15px 0px;
	font-size:14px;
}

.white_text {
	color:#fff;
}

.wrapper {
    width:975px;
    margin-left:auto;
    margin-right:auto;
    float: none;
}


#header {
    height:65px;
    clear:both;
    background-image: url(../images/bg_header.png);
    background-repeat: repeat-x;
    height: 40px;
}


#menu {
    text-align: right;
    float: right;
    width: 300px;
    margin-bottom: 15px;
    margin-right: 8px;
}

#menu ul {
	margin:0px;
}

#menu li {
	display:inline;
	font-size:15px;
	font-weight:bold;
	margin-left:10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#main_content {
    background-color:#FFF;
    background-position:center bottom;
    padding-top:15px;
    padding-bottom:-10px;
}

#column_left {
    float:left;
    width:420px;
    height: 350px;
    margin-top: 15px;
    text-align: center;
}
#column_right {
    float:left;
    width:450px;
}

#sub_content {
    background-color:#e7e6e5;
    padding:15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #BFB5AC;
    border-bottom-color: #BFB5AC;
    border-top-width: 1px;
    border-top-style: solid;
}


#bottom_content {
	background-color:#fff;
	padding:15px;
	margin:0px;
	text-align:center;
}





/* FOOTER */

#footer {
	padding-top:15px;
	text-align:center;
	clear:both;
	padding-bottom:15px;
}

#footer ul {
	margin:auto;
	padding:0px;
}
#footer li {
    display:inline;
    font-size:13px;
    margin-left:4px;
    margin-right:4px;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}.third {
    float: left;
    width: 272px;
    padding: 8px;
    text-align:left;
}

#logo {
    margin-right:8px;
    padding-right:15px;
    border-right:1px solid #ccc;
    float:left;
}

.third img {
    margin-right:5px;
}
#page_top {
    background-repeat: no-repeat;
    background-position: center top;
    height: 20px;
    clear: both;
}
.page {
    background-repeat: repeat-y;
    background-position: center top;
    padding-left: 0px;
    padding-right: 0px;
}
#page_bottom {
    background-repeat: no-repeat;
    background-position: center top;
}
h3 {
    font-size: 16px;
    margin: 0px;
    text-align: left;
    font-weight: bold;
}
.footer li {
    display: inline;
}
.large_font {
    font-size: 28px;
    font-weight: bold;
}
#page_right {
    float: right;
    width: 50px;
    padding-top: 125px;
}
#page_left {
    float: left;
    width: 50px;
    padding-top: 125px;
}

/* PAYMENT & ANALYTICS */


#payment {
	width:1200px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
    text-align:left;
}

.pricing {
	float:left;
	width: 50px;
	text-align: center;
	font-weight: bold;
	padding: 5px;
	background-color: #f8f8f8;
	border: 1px solid #999;
	font-size: 18px;
	color: #d36317;
	margin-right: 5px;
	margin-left: 5px;
}


#analytics .image {
	float:left;
	margin-right:6px;
	padding-top: 5px;
}

#analytics .text {
	float:left;
	width:230px;
	padding-top:0px;
	padding-bottom:10px;
}

#analytics .text .source {
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0px 5px 0px 0px;
	padding-right:5px;
}

#analytics .text p {
	color:#666;
	margin-top:4px;
	margin-bottom:0px;
    line-height:14px;
    margin-top:0px;
}#analytics {
    float: left;
    width: 400px;
    border-right: 1px solid #ccc;
}
#analytics .entry {
	clear: both;
	background-image:url(../images/bg_entry.png);
	background-repeat:repeat-x;
	border: 1px solid #ccc;
	height: 45px;
	padding-top:5px;
}

#analytics .entry:hover {
	background-color:#fff;
	background-image:none;
	border:1px solid #d36317;
	
}

#credit_card {
	float: left;
	width: 230px;
}
#graphs {
    float: left;
    width: 570px;
}
#payment #stats {
	float: left;
	width: 200px;
}

.table_stats {
	border:1px solid #ccc;
	border-collapse:collapse;
}

.table_stats table {
	margin-bottom:10px;
}

.table_stats th, .table_stats td {
	padding:4px;
	text-align:left;
	border:1px solid #ccc;
}
.table_stats th {
	background-color:#ccc;
}

#payment h3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999;
	background-color: #f8f8f8;
	padding: 4px;
	margin: 0px;
}
 .input_form {
	border: 1px solid #ccc;
	width: 180px;
}
 .input_form_short {
	width: 80px;
	border: 1px solid #ccc;
}
 .input_form_price {
	width: 50px;
	border: 1px solid #ccc;
}

#payment .close {
	float:left;
}
#payment .share {
	float:left;
	margin-top: 5px;
}
#payment #payment_price {
	padding-top: 8px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ccc;
	height: 43px;
	background-image:url(../images/bg_arrow.png);
	background-position:right;
	background-repeat:no-repeat;
}
#arrow {
    float: left;
    margin-left: 185px;
}
