html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, p, a, span, small, img, blockquote, table, tr, th, td, input, textarea {
  padding:0;
  margin:0;
}
html, body {height:100%;}
body {
    font-size: 14px;
    line-height: 17px;
    vertical-align: baseline;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #808080;
    background-color: #C7482C;
}
table, tr, th, td {border-collapse:collapse;border:none;border-spacing:0;}
input, textarea {font-size: 14px; line-height: 24px; font-family:Arial, sans-serif; color:#000000;}

/* @headings */
h1, h2, h3, h4, h5, h6 {font-weight: normal; font-family: Helvetica, Arial;}
h1 {font-size: 34px; line-height: 35px; word-spacing: -4px; color: #666; font-weight: bold; margin-bottom: 10px;}
    h1 em {color: #F25733; font-style: normal;}
h2 {font: bold 24px/24px Helvetica, Arial; color: #4D4D4D; margin-bottom: 5px;}

/* @links */
a {color: #F25733; text-decoration: none;}
a:hover {text-decoration: none;}
a img {border:none;}

/* @lists */
ul, ol {list-style:none;}
ul.list {margin-bottom: 10px; margin-top:3px;}
ul.list li {padding-left: 30px; background:url(../images/bg/list-item.png) no-repeat left 9px; margin-bottom: 3px;}

ol.list {margin-bottom: 10px; margin-top:3px; margin-left: 25px; list-style:decimal}
ol.list li {margin-bottom: 3px;}

/* @other */
p {font-size: 15px; line-height: 20px; margin-bottom: 15px;}
p.important {font-size: 17px; line-height: 22px; margin-bottom: 10px;}
p.simple {margin-bottom:0;}
code {font-family: Helvetica, Arial, sans-serif; font-size: 12px; white-space:pre-line;}
em {color: #F25733; font-style: normal; font-weight:bold;}
h4.em {text-decoration: underline; font-size: 12px;}
span.tip {font-family:Helvetica,Arial; font-size: 11px; padding: 0 8px; color: #fff; background-color: #F25733; display: inline-block; }
strong.important {color: #666;}
select {color: #4D4D4D; font-family: 'Helvetica Neue', Helvetica, sans-serif;}

/* @special */
.veneer {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
.clear {overflow: hidden;}
.nowrap {white-space: nowrap;}
.none {display: none;}
.hidden {visibility: hidden;}
.l {float: left;}
.r {float: right;}

/* @layout */
.l-part {width: 100%; height: 50%; left: 0; position: fixed; background-repeat: repeat; background-position: 0 0;}
.l-part-t {top: 0; background-image: url(../images/bg/layout-part-t.png);}
.l-part-b {bottom: 0; background-image: url(../images/bg/layout-part-b.png);}
.l-limiter {width: 960px; text-align: left; margin-left: auto; margin-right: auto;position:relative}

.bighand {position:absolute;background:transparent url(../images/hand.png) no-repeat;right:-141px;top:-26px;height:294px;width:276px;z-index:10;}

.root {position: relative; width: 100%; height: 100%; display: table;}
.layout-wrap {padding-top: 42px; padding-bottom: 42px; display: table-cell; vertical-align: middle; overflow: hidden;}
.layout {background-color: #fff; position: relative;}
.content {}
    /* shadow */
    .layout-shadow {height: 42px; width: 100%; left: 0; position: absolute; background-repeat: repeat-x; background-position: 0 0;}
    .layout-shadow-t {top: -42px; background-image: url(../images/bg/layout-shadow-t.png);}
    .layout-shadow-b {bottom: -42px; background-image: url(../images/bg/layout-shadow-b.png);}

    /* @light-mode */
    .light-mode {background-color: #fff;}
    .light-mode .l-part {background-image: none;}
    .light-mode .layout-shadow {background-image: none; display: none;}

/* @head */
.head {text-align: center; position: relative; padding: 25px 0;}
.head .logo {position: relative; z-index:1}

/* @menu */
.head .menu {font-size: 15px; color: #4D4B4B; font-weight: bold; right: 0; top: 25px; position: absolute; overflow: hidden;}
.head .menu a {color: #E23D23;}
.head .menu li {float: left; padding: 0 13px 0 8px; background: url(../images/bg/menu-separator.png) no-repeat right 5px;}
.head .menu li.last {padding-right: 0; background-image: none;}

/* @content */
.content {margin-bottom: 25px;}
.page-wide .content {min-height: 544px;}
.page-index .content {min-height: 349px;}

/* @info-block */
.info-block {display: table; height: 540px; width: 465px; zoom: 1;}
.info-block-small {height: 387px;}
.inner-wrap {display: table-cell; padding: 0 1px; text-align: center; vertical-align: middle; position: relative; background:url(../images/bg/info-block-pad.png) no-repeat left top;}
.info-block-small .inner-wrap {background: url(../images/bg/info-block-pad-small.png) no-repeat left top;}
.info-block-presentation .inner-wrap {background-image: url(../images/bg/info-block-pad-presentation.png);}
.inner-content {position: relative; margin-left: auto; margin-right: auto;}
.info-block .wrapped-content {}
.info-block-outer {position: relative;}
    /* text-content */
    .info-block .text-content {width: 360px; top: 15px; top: 0; background-color: #fff; padding: 22px 20px 12px;}
    .page-index .info-block .text-content {padding-top: 12px;}
    .info-block-presentation .inner-content {width: 300px; height: 250px; padding: 20px 16px 6px ; background-color: #fff;}
    .info-block .text-content.limited {min-height: 250px;}

    /* wide */
    .info-block-wide {width: 100%;}
    .info-block-wide .inner-wrap {background-image: url(../images/bg/info-block-pad-wideD.png);}
    .info-block-wide .text-content {top: 26px; position: relative; width: 630px; padding: 0 14px; background-color: transparent;}
    .info-block-wide .text-content .container {background: #fff; padding: 20px 0 8px 0;}
    .info-block-wide .text-content p.founder {margin-bottom: 0;}
    .info-block-wide h1 {position: relative; bottom: -7px; z-index: 1; margin-bottom: 0;}

    .info-block-wide .text-content .container, .contact-emails {top: 0; position: relative; }

    

/* @presentation-code */
.presentation-code {font-size: 12px; width: 100%; bottom: 0; left: 0; position: absolute; background:url(../images/bg/presentation-code.png) repeat-x left top;}
.presentation-code .code-inner {padding: 9px 0 9px 12px;}
.presentation-code .code-inner code {padding-left: 10px;}

/* @presentation-pic */
.presentation-pic {width: 322px; height: 272px; padding: 4px 0 0 4px; position: absolute; top: 0; left: 0; overflow: hidden; text-align: left; background:url(../images/bg/presentation-pic-shadow-small.png) no-repeat left top; z-index:10}
.info-block .presentation-pic-placeholder {width: 318px; height: 250px; top: -16px; left: -5px; position: relative; margin-left: auto; margin-right: auto;}


/* @promo-block */
.promo-block {background-color: #E6E6E6; padding: 24px 0;}
.promo-block-inner {position: relative; min-height: 100px;}
.promo-block .logo {left: 0; top: 4px; position: absolute; }
.promo-block .logo img {/*top: -45px; position: relative;*/}
.promo-block .advantages {padding: 0 0 0 180px; font-size: 12px; line-height: 16px;}
.promo-block .advantages p {font-size: 12px; line-height: 16px; margin-right: 110px; color: #666; margin-bottom: 0;}
.promo-block .advantages li {float: left; width: 33%; position: relative;}
.promo-block .advantages .num {left: -65px; top: -10px; font: bold 95px/95px Helvetica, Arial; color: #fff; vertical-align: baseline; z-index: 1; position:absolute;}
.promo-block .advantages .entry1 .num {left: -60px;}
.promo-block .advantages .entry3 p {margin-right: 80px;}

/* @buttons */
.bulb {position: relative; background-repeat: no-repeat;}
.bulb .l {left: 0; top: 0; position: absolute;}
.bulb .c {background-repeat: repeat-x;}
    .s-button {color: #fff; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, sans-serif; text-decoration: none;}
    .s-button .l {width: 5px;}
    .s-button .c {margin: 0 5px; padding: 0 15px; text-align: center;}
    .s-button, .s-button .c, .s-button .l {height: 40px; line-height: 40px; display: inline-block; background-image: url(../images/s-buttons.png);}
        .s-button {background-position: 100% -40px;}
        .s-button .l {background-position: 0 0;}
        .s-button .c {background-position: 0 -80px;}

    .s-input-text-rate {color: #000; font-size: 12px; font-family: 'Helvetica Neue', Helvetica, sans-serif; text-decoration: none;}
    .s-input-text-rate .l {width: 7px;}
    .s-input-text-rate .c {margin: 0 7px; padding: 0 0; text-align: center;}
    .s-input-text-rate, .s-input-text-rate .c, .s-input-text-rate .l {height: 18px; line-height: 18px; display: inline-block; background-image: url(../images/s-rates-param.png);}
    .s-input-text-rate input {
        background: transparent;
        border: 0;
        outline: 0;
        margin: 0 -10px;
        padding: 1px 10px 0;
        line-height: 18px;
        position: relative;
        width: 100%;
    }
        .s-input-text-rate {background-position: 100% -20px;}
        .s-input-text-rate .l {background-position: 0 0;}
        .s-input-text-rate .c {background-position: 0 -40px;}


/* @chart */
.chart {}
.chart-panel {margin-top: -65px; padding-bottom: 5px; position: relative; zoom: 1;}
.chart-panel select {font-size: 11px; }
    /* @params */
    .chart-panel .params {padding-top: 10px;}
    .chart-panel .params .row {margin-bottom: 10px;}
    .chart-panel .params .row select {min-width: 160px; margin-right: 10px;}


/* @rates */
.rates {font-family: 'Helvetica Neue', Helvetica, sans-serif; margin: 0 0 10px; width: 100%;}
.rates .row {position: relative; zoom: 1;}
.rates .cell {float: left;}
.rates .cell .r-indent {margin-right: 0;}
.rates .data-entry {padding: 8px 5px; position: relative; text-align: center;}
    .rates .cell .data-entry {text-align: center;}
    .rates .col-link .data-entry {text-align: left; padding-left: 0;}
    .rates .rbody .col-link .data-entry {padding-left: 12px; white-space:nowrap;}
    .rates .rbody .col-link .data-entry .text {overflow:hidden;}
    .rates .rbody .row .col-link .data-entry .cell-limiter {width: 60px; height: 35px; right: 0; top: 0; background:url(../images/bg/datatable-dataEntry-limiter.png) no-repeat; position: absolute;}
    .rates .rbody .row-hover .col-link .data-entry .cell-limiter {background-image:url(../images/bg/datatable-dataEntry-hover-limiter.png);}
    .rates .rbody .row-active .col-link .data-entry .cell-limiter {background-image:url(../images/bg/datatable-dataEntry-active-limiter.png);}

    /* @cols */
    .col-link, .col-holder-link {width: 300px; }
        .col-holder-link {left: 0;}
        .col-holder-link-strut {width: 20px; left: 300px;}

    .col-price, .col-holder-price {width: 51px;}
        .col-holder-price {left: 320px;}
        .col-holder-price-strut {width: 17px; left: 337px;}
        .col-price {margin-left: 20px;}

    .col-startDate, .col-holder-startDate {width: 100px;}
        .col-holder-startDate {left: 387px;}
        .col-startDate {margin-left: 17px;}
	
	.col-views, .col-holder-views {width: 154px;}
        .col-holder-views {left: 487px;}
        
    .col-clicks, .col-holder-clicks {width: 108px;}
        .col-holder-clicks {left: 641px;}

    .col-closes, .col-holder-closes {width: 108px;}
        .col-holder-closes {left: 749px;}

    .col-engagement, .col-holder-engagement {width: 100px;}
        .col-holder-engagement {left: 857px;}

    /* @rhead */
    .rates .rhead .data-entry {font-size: 12px; color: #000;}

    /* @rbody */
    .rates .rbody .data-entry {font-size: 14px;}
    .data-entry {color: #C9C9C9;}
    .rates .rbody .cell {position: relative; z-index: 2;}

        /* @s-control */
        .s-control {}
        .s-control .data-entry {padding-right: 27px;}
        .s-control .close {width: 12px; height: 12px; top: 12px; right: 10px; background: url(../images/s-buttons-close.png) no-repeat; position: absolute;}
        .s-control .num {left: -17px; top: 9px; color: #B2B2B2; font-size: 12px; position: absolute;}
        @-moz-document url-prefix() { .s-control .num {top: 8px;} }
        :-moz-any(x), .data-price .s-input-text-rate input {top: -1px;}

        /* @data-price */
        .data-price .s-input-text-rate {width: 40px;}
        .data-price .s-input-text-rate input {text-align: center;}

        .rates .note {
            font-size: 13px;
            color: #C1272D;
            text-decoration: underline;
            text-align: left;
            min-width: 500px;
            top: 9px;
            left: 0;
            position: absolute;
        }

        /* col-holher */
        .col-holder {height: 100%; top: 0; z-index: 1; position: absolute;}
        .col-holder .inner {height: 100%; left: 0; top: 0; position: absolute;}
        .col-holder .inner2 {height: 100%; left: 0; top: 0; position: absolute;}
            .col-holder-link .inner {left: 0; right: 0;}
            .col-holder-price .inner {left: 0; right: 0;}
            .col-holder-startDate .inner {left: 0; right: 0;}
            .col-holder-views .inner {left: 0; right: 0;}
            .col-holder-clicks .inner {left: 0; right: 0;}
            .col-holder-closes .inner {left: 0; right: 0;}
            .col-holder-engagement .inner {left: 0; right: 0;}
                .col-holder-link .inner2 {left: 0; right: 0;}
                .col-holder-price .inner2 {left: 0; right: 0;}
                .col-holder-startDate .inner2 {left: 0; right: 0;}
                .col-holder-views .inner2 {left: 0; right: 0;}
                .col-holder-clicks .inner2 {left: 0; right: 0;}
                .col-holder-closes .inner2 {left: 0; right: 0;}
                .col-holder-engagement .inner2 {left: 0; right: 0;}

            /* border */
            .col-s .inner {background: #f1f2f2 url(../images/bg/datatable-dataEntry.png) repeat-x;}
            /* border */
            .col-b .inner {background: url(../images/bg/datatable-cell-l.png) no-repeat left bottom;}
            .col-b .inner2 {background: url(../images/bg/datatable-cell-r.png) no-repeat right top;}
            /* price */
            .b-separate .inner {background: url(../images/bg/datatable-cell-r.png) no-repeat left bottom;}

                /* row-first & last */
                .row-first .b-separate .inner {}
                .row-first .b-separate .inner {background: url(../images/bg/datatable-cell-t.png) no-repeat left top;}
                .row-last .b-separate {background: url(../images/bg/datatable-cell-l.png) no-repeat left bottom;}

    /* @active */
    .row-hover .col-s .inner, .row-hover .col-b .inner {background: #d2d4d5 url(../images/bg/datatable-dataEntry-hover.png) repeat-x; top: -1px;}
    .row-hover .col-b .inner2 {background-image: none;}
    .row-hover .data-entry {color: #4D4D4D;}
    .row-hover .close {background-position: 0 -12px;}
    .row-hover .s-control .num {color: #1A1A1A;}
    .row-hover .s-input-text-rate, .row-hover .s-input-text-rate .c, .row-hover .s-input-text-rate .l {
        background-image: none;
    }

    .row-hover .b-separate .inner {/*background-image: none;*/}
    .row-hover .b-separate {background-image: none;}

    /* @active */
    .row {z-index: 1;}
    .row-active {z-index: 2;}
    .row-active .col-s .inner, .row-active .col-b .inner {background: #c64b22 url(../images/bg/datatable-dataEntry-active.png) repeat-x;}
    .row-active .col-b .inner2 {background-image: none;}
    .row-active .data-entry {color: #481B0C;}
    .row-active .close {background-position: 0 -24px;}
    .row-active .data-price .s-input-text-rate input {color: #C1272D;}
    .row-active .s-control .num {color: #1A1A1A;}
    .row-active .interact-show {display: block;}
        .row-active .interact-hide,
        .row-active .col-views,
        .row-active .col-clicks,
        .row-active .col-clicks,
        .row-active .col-closes,
        .row-active .col-engagement/*,
        .row-active .col-holder-startDate,
        .row-active .col-holder-views,
        .row-active .col-holder-clicks,
        .row-active .col-holder-closes,
        .row-active .col-holder-engagement*/ {display: none;}

        .row-active .col-holder-startDate .inner,
        .row-active .col-holder-views .inner,
        .row-active .col-holder-clicks .inner,
        .row-active .col-holder-closes .inner,
        .row-active .col-holder-engagement .inner {background: url(../images/bg/datatable-cell-b.png) no-repeat left bottom;}

.interact-show {display: none;}


/* @text-block */
.text-block.fixed .text-block-inner {height: 450px; overflow:auto;}
.text-block {position:relative; color: #666666;}
.text-block-inner {padding: 20px 45px 20px 28px;}
.text-block h1 {font-size: 22px; color: #333333;}
.text-block h1 .note {font-size: 12px; padding-left: 15px; word-spacing: normal;}
.text-block h3 {font-size: 14px; color: #333333; font-weight: bold;}
    .faq-questions {float: left; width: 50%;}
    .faq-questions h3 {margin-top: 3px;}
    .faq-questions-right {float: right;}
    .faq-questions ul {margin-bottom: 3px;margin-top:2px; padding-right:50px;}
    .faq-questions ul li {margin-bottom: 3px;}
    .faq-questions a {color: #666666;}
    .faq-answers {margin-top: 15px;}

    .text-block-document h3 {margin-bottom: 5px; margin-top: 13px;}
    .text-block-document {font-size: 12px;}
    .text-block-document p {font-size: 12px; margin-bottom: 10px;}
    .text-block-document p+ul,.text-block-document p+ol {margin-top:-7px;}

.text-block-top-border {width: 100%; height: 1px; top: 0; left: 0; background:url(../images/bg/text-block-top.png) repeat-x;}
.text-block-right-border {width: 1px; height: 100%; top: 0; right: 0; background:url(../images/bg/text-block-left.png) repeat-y;}
.text-block-bottom-border {width: 100%; height: 1px; background:url(../images/bg/text-block-top.png) repeat-x;}
.text-block-left-border {width: 1px; height: 100%; left: 0; top: 0; background:url(../images/bg/text-block-left.png) repeat-y;}
    .text-block-top-border,
    .text-block-right-border,
    .text-block-left-border {position:absolute;}


/* @pay-form */
.form {padding: 10px 15px;}
.form .row {margin-bottom: 10px;}
.form .last-row {margin-bottom: 0;}
.form .label {float: left; width: 130px; padding-right: 15px; padding-top: 1px;}
.form .field {margin-left: 130px;}
.form .input-text {border: 1px solid #E0E0E0; padding: 0 4px; height: 20px; line-height: 20px;}
.form .input-submit {border: none; background-color: #D9DBDC; font-weight: bold; padding: 3px 8px; cursor: pointer; overflow: visible; height: 30px;}
.form .message {color: #000;}

#payForm {display: block;}
#facebox .lightbox_content {margin-bottom: 0;}

/* @foot */
.foot {padding: 20px 0 20px; text-align: center; position: relative;}
.foot .menu-wrap {float: right; right: 50%; position: relative;}
.foot .menu {font-size: 12px; position: relative; right: -50%; overflow: hidden;}
.foot .menu li {float: left; padding: 0 10px; background:url(../images/bg/foot-menu-separator.png) no-repeat right 7px;}
.foot .menu li.last {background-image: none;}
.foot .menu a {color: #B3B3B3; line-height: 20px;}

/* @nav */
.nav {
    font-size: 15px;
    font-weight: bold;
    display: block;
    height: 21px;
    width: 60px;
    top: 20px;
    text-decoration: none;
    color: #555555;
    background-image: url(../images/s-nav.png);
    background-repeat: no-repeat;
    position: absolute;
}
.nav:hover {text-decoration: none;}
.nav:hover span {text-decoration: underline;}
.nav-prev {left: 0; padding-left: 25px; text-align: left; background-position: left 0;}
.nav-next {right: 0; padding-right: 25px; text-align: right; background-position: right -21px;}

.contact-emails {padding-top: 10px; font-size: 12px;}
.contact-emails .first {margin-right: 15px; display: inline-block;}

.sh-box {position: relative; float: left; width:318px; overflow: hidden; top: -6px; left:-1px;}
.sh-box-inner {margin-right:18px;min-height: 240px;}
.sh-shadow-right {position: absolute; width: 18px; height: 100%; top: -18px; right: 0; background:url(../images/bg/sh-shadow-right.png) no-repeat 0 18px;}
.sh-shadow-bottom {position: static; /*overflow:hidden;*/ height: 18px; bottom: 0; left: 0; background:url(../images/bg/sh-shadow-bottom.png) no-repeat;}
.sh-shadow-bottom-right {float: right; position: static; width: 18px; height: 18px; bottom: 0; right: 0; background:url(../images/bg/sh-shadow-bottom-right.png) no-repeat;}

*+html .sh-shadow-right {top: -19px;}
*+html .sh-shadow-bottom {top: -1px; position: relative;}
*+html .sh-shadow-bottom-right {position: relative; top: -1px;}

