#layout {margin-top: expression(parseInt(this.parentNode.parentNode.offsetHeight-this.offsetHeight) < 0 ? "0" : parseInt((this.parentNode.parentNode.offsetHeight - this.offsetHeight) / 2)+"px");}
.layout {zoom: 1;}
.info-block .inner-wrap {height: 540px;}
.info-block-small .inner-wrap {height: 387px;}
.promo-block-inner {height: 100px;}
.inner-content {margin-top: expression(parseInt(this.parentNode.offsetHeight-this.offsetHeight) < 0 ? "0" : parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2)+"px");}
.promo-block .advantages h2 {line-height: 20px;}
.promo-block .advantages .num {top: -10px;}

.foot {height: 22px;}
.foot .menu {width: 210px;}
.info-block {position: relative;}
.content {height: 391px;}
.l-part {position: absolute;} 
.layout-wrap {padding-top: 0; padding-bottom: 0;}
.chart-panel .params .row select {width: 160px;}
.presentation-code {width: 465px;}