.inner-wrap,.inner-content {display: block;}
.info-block .inner-wrap {height: 540px;}
.info-block-small .inner-wrap {height: 385px;}
.promo-block-inner {height: 100px;}
-,#layout {margin-top: expression(parseInt(this.parentNode.parentNode.offsetHeight-this.offsetHeight) < 0 ? "0" : parseInt((this.parentNode.parentNode.offsetHeight - this.offsetHeight) / 2)+"px");}
-,.inner-content {margin-top: expression(parseInt(this.parentNode.offsetHeight-this.offsetHeight) < 0 ? "0" : parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2)+"px");}
-,.promo-block .advantages h2 {line-height: 20px;}
-,.promo-block .advantages .num {top: -10px;}