@charset "utf-8";
/* CSS Document */

#lightbox_1 {
	width:700px;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	border:1px solid #ccc;

}

#left_column {
	float:left;
	width:350px;
	padding:10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
}

#right_column {
	width:305px;
	padding:10px;
	border-left:none;
	float: left;
}

.input_form {
	border:1px solid #ccc;
	width:305px;
	margin-bottom: 5px;
}

#lightbox_1 .close {
	float:left;
	padding-top: 5px;
}

#lightbox_1 .image {
	float:left;
	margin-right:6px;
	padding-top: 5px;
}

#lightbox_1 .text {
	float:left;
	width:155px;
	padding-top:10px;
	padding-bottom:10px;
}

#lightbox_1 .text .source {
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0px 5px 0px 0px;
	padding-right:5px;
}

#lightbox_1 .text p {
	color:#666;
	margin-top:4px;
	margin-bottom:0px;
}

#lightbox_1 .share {
	float:left;
	padding-top: 5px;
}

#preview {
	background-image:url(../images/bg_entry.png);
	background-repeat:repeat-x;
	border: 1px solid #ccc;
	padding-bottom: 4px;
}

.error {
	color:#F00;
}