#ligertail_submission_lightbox {
    width:691px;
    float:left;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:12px;
    border:1px solid #ccc;

}

#ligertail_submission_lightbox_left_column {
    float:left;
    width:350px;
    padding:10px;
    border-right:1px solid #ccc;
    line-height: 22px;
}

#ligertail_submission_lightbox_right_column {
    width:300px;
    padding:10px;
    float: left;
}

#ligertail_submission_lightbox_form {
	color: #000000;	
}

.ligertail_submission_lightbox_input_form {
    border:1px solid #ccc;
    width:300px;
    margin-bottom: 5px;
    line-height: 24px;
}

#ligertail_submission_lightbox_button_pay, #ligertail_submission_lightbox_button_free{
	padding-top: 5px;
}

#ligertail_submission_lightbox_button_pay {
    float:right;
    margin-right: 30px;
}

#ligertail_submission_lightbox .ligertail_widget_content {
    display: block;
}