@charset "utf-8";
/* CSS Document */

input {
	outline:none;/* remove blue outline in webkit */ 
}

.ligertail_widget a:link {
	color: #000000!important;
	text-decoration:none!important;
}

.ligertail_widget a:visited, a:active {
	color: #000000!important;
}

.ligertail_widget .ligertail_widget_source a, .ligertail_widget_title a {
	color: #000000!important;
}
#ligertail_widget_large {
	width:600px;
	float:left;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}

#ligertail_widget_large #ligertail_widget_header {
	background-image:url(../images/bg_header.png);
	background-repeat:repeat-x;
	padding: 14px;
	height:21px;
}

#ligertail_widget_large .ligertail_widget_content {
	background-image:url(../images/bg_content.png);
	background-repeat:repeat-x;
	background-position:top;
	margin:0px;
	padding:5px;
	float:left;
	width: 590px;
	display: none;
}

#ligertail_widget_large .ligertail_widget_close, .ligertail_widget_blank {
	float:left;
	min-height: 18px;
	min-width: 18px;
}
	
#ligertail_widget_large .ligertail_widget_image {
	float:left;
	margin-right:6px;
	padding-top:10px;
}

#ligertail_widget_large .ligertail_widget_text {
	float:left;
	width:430px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left: 5px;
    text-align: left;
    line-height: 14px;
}

#ligertail_widget_large .ligertail_widget_top_text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;  
    -o-text-overflow: ellipsis;  
    -ms-text-overflow: ellipsis;
}

#ligertail_widget_large .ligertail_widget_form {
	background-image:url(../images/input_submit.png);
	background-repeat:no-repeat;
	border:none;
	padding: 4px;
	width: 525px;
	height: 16px;
	float: left;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	padding-left: 10px;
	margin-right: -12px;
}

#ligertail_widget_large .ligertail_widget_text span{
	//height: 14px;
}

#ligertail_widget_large .ligertail_widget_text .ligertail_widget_source {
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0px 5px 0px 0px;
	padding-right:5px;
	border-right:2px solid #d36317;
	color: #000000;
}

#ligertail_widget_large .ligertail_widget_text .ligertail_widget_description {
	color:#666;
	margin-top:4px;
	margin-bottom:0px;
	font-size: 11px;
	height: 43px;
	overflow: hidden;
	color: #000000;
}

#ligertail_widget_large .ligertail_widget_share {
	float:left;
	margin-top: 55px;
}

#ligertail_widget_large #ligertail_widget_footer {
	height:35px;
	background-image:url(../images/bg_footer.png);
	background-repeat:repeat-x;
	clear:both;
	background-position:right;
	text-align: left;
}
	


#ligertail_widget_small {
	width:300px;
/*	float:left;*/
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}

#ligertail_widget_small #ligertail_widget_header {
	background-image:url(../images/bg_header_2.png);
	background-repeat:repeat-x;
	height:39px;
}

#ligertail_widget_small .ligertail_widget_content {
    background-image:url(../images/bg_content.png);
    background-repeat:repeat-x;
    background-position:top;
    margin:0px;
    float:left;
    width: 290px;
    line-height: 14px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    display: none;
}

#ligertail_widget_small .ligertail_widget_close {
	float:right;
	clear: right;
	padding-top: 2px;
}
	

#ligertail_widget_small .ligertail_widget_text {
	float:left;
	width:268px; height: 12px; overflow: hidden;
	padding-top:2px;
	padding-bottom:4px;
	margin-right: 4px;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	color: #000000;
	text-transform: none;
}

#ligertail_widget_small .ligertail_widget_text .ligertail_widget_source {
	font-size:9px;
	font-weight:bold;
	margin: 0px 5px 0px 0px;
	text-transform:uppercase;
	padding-right:3px;
	border-right:2px solid #d36317;
	color: #000000;
}

#ligertail_widget_small .ligertail_widget_share {
	float:right;
	margin-top: 0px;
}

#ligertail_widget_small .ligertail_widget_form {
	background-image:url(../images/input_submit_2.png);
	background-repeat:no-repeat;
	background-position:0 -9px;
	border:none;
	padding: 0 0 0 5px;
	width: 185px;
	float: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 9px;
	margin:9px 0 0 5px;
    border: 0;
    color:#000!important;
    line-height: 20px;
    height: 19px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #ligertail_widget_small .ligertail_widget_form {padding-top: 1px} 
}

*+html #ligertail_widget_small .ligertail_widget_content {padding-top:3px}

#ligertail_widget_small #ligertail_widget_header form img {
	margin: 0px;
	border:none;
	cursor:pointer;
}

#ligertail_widget_small #ligertail_widget_header form input {
	border: none;
	font-family: Lucida Grande;
}

#ligertail_widget_small #ligertail_widget_header form input[type="image"] {
	padding: 0px;
}

#ligertail_widget_small #ligertail_widget_footer {
	height:20px;
	background-image:url("../images/bg_footer_2.png");
	background-repeat:repeat-x;
	clear:both;
	background-position:right;
}
	