<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Advertisers</title>
<link href="../web/css/ligertail_global.css" rel="stylesheet" type="text/css" />
<meta name="description" content="Description" />
<meta name="keywords" content="Keywords" />
   
</head>

<body>

<div id="header">
<div class="wrapper"></div>
</div>

<div id="main_content">
<div class="wrapper">
{% include "header.html" %}
<div id="page_top">&nbsp;</div>
<div class="page">
    <div id="page_left"></div>
    <div id="page_right"><a href="advertisers_2.html"><img src="../web/images/button_right.png" alt="Next" width="49" height="49" border="0" align="right" /></a></div>
    <div id="column_left">
        <h1>Democratizing Advertising</h1>
        <p>Once installed, everyone can submit content through the top bar...</p>
        <p>Through user interaction, the content is then sorted to different spots within the widget...</p>
        <p>We then collect the data, and share it with you!</p>
        <p>Everyone shares. Everyone wins.    </p>
    </div>
    <div id="column_right"><img src="../web/images/widget_sample.png" width="450" height="369" alt="Widget" /></div>
<div style="clear:both;"></div>
</div>
<div id="page_bottom">&nbsp;</div>
</div>

<div style="clear:both;"></div>
</div>
</div>

<div id="sub_content">
{% include "sub_content.html" %}
</div>

</div>
  
 
<div id="footer">
<div class="wrapper">
<div class="fourth">
FOOTER LINKS
</div>


<div style="clear:both;"></div>
<p class="center">Ligertail &copy;2010</p>
</div>

</div>

</body>
