<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Publishers</title>
<link href="../web/css/ligertail_global.css" rel="stylesheet" type="text/css" />
<meta name="description" content="Description" />
<meta name="keywords" content="Keywords" />
   
</head>

<body>

<div id="header">
<div class="wrapper"></div>
</div>

<div id="main_content">
<div class="wrapper">
{% include "header.html" %}
<div id="page_top">&nbsp;</div>
<div class="page">
	<div id="page_left"><a href="publishers_3.html"><img src="../web/images/button_left.png" alt="Next" width="49" height="49" border="0" align="left" /></a></div>
    <div id="page_right"></div>
    <div id="column_left">
        <h1>Welcome to Ligertail</h1>
        <p>Ligertail democratizes advertising. A unique blend of crowd-sourced aggregation &amp; filtering with an auction system &amp; open analytics, our interactive widget encourages everyone to share. </p>
        <p>When everyone shares, everyone wins.    </p>
        <p><a href="publishers_3.html"></a></p>
    </div>
    <div id="column_right">UGLY BANNER ADVERTISMENT</div>
<div style="clear:both;"></div>
</div>
<div id="page_bottom">&nbsp;</div>
</div>

<div style="clear:both;"></div>
</div>
</div>

<div id="sub_content">
{% include "sub_content.html" %}
</div>

</div>
  
 
<div id="footer">
<div class="wrapper">
<div class="fourth">
FOOTER LINKS
</div>


<div style="clear:both;"></div>
<p class="center">Ligertail &copy;2010</p>
</div>

</div>

</body>
