<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		</head>
	<body>
<h1>Payment configuration</h1>    
  Logged in: {{ user }}
  
  <!--  TODO process as object key/value pairs  -->
  
  <form method="POST" action="update_paymentconfig">
        test
        {% if paymentparams.test_mode %}
        <INPUT TYPE=CHECKBOX NAME="test" CHECKED value=true />
        {% else %}
        <INPUT TYPE=CHECKBOX NAME="test" value=true />
        {% endif %}
        <br/>
        send email
        {% if paymentparams.send_email %}
        <INPUT TYPE=CHECKBOX NAME="email" CHECKED value=true />
        {% else %}
        <INPUT TYPE=CHECKBOX NAME="email" value=true />
        {% endif %}
        <br/>
      <input type="submit" value="Update" />
  </form>

  </body>
</html>