<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Publishers</title>
<link href="frontend/web/css/ligertail_global.css" rel="stylesheet" type="text/css" />
<meta name="description" content="Description" />
<meta name="keywords" content="Keywords" />
   
</head>

<body>

<div id="header">
<div class="wrapper">

</div>
</div>

<div id="main_content">
<div class="wrapper">
{% include "header.html" %}
<div id="page_top">&nbsp;</div>
<div class="page">
  <div id="column_left" style="width:500px;">
        <p class="large_font">&nbsp;</p>
        <p class="large_font">Increase Revenue</p>
<p>with</p>
<p class="large_font">Relevent Advertising</p>
<p>because</p>
<p class="large_font">We all have something to share.</p>
        <p class="orange">&nbsp;</p>
    </div>
    <div id="column_right"><script type="text/javascript" src="http://www.ligertail.com/a/frontend/ligertail.js"></script></div>
   
    
    <div style="clear:both;"></div>
    <div id="arrow"><img src="frontend/web/images/arrow_embed.png" width="161" height="146" alt="Embed" /></div>
    <strong>&lt;script type=&quot;javascript&quot; src=&quot;http://ligertail.com/ligertail.js&quot;&gt;&lt;/script&gt;</strong></div>
<div id="page_bottom">&nbsp;</div>
</div>

<div style="clear:both;"></div>
</div>
</div>

<div id="sub_content">
{% include "sub_content.html" %}
</div>
</div>

</div>
{% include "footer.html" %}

</body>
